:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --main-footer-text-color: #ffffff;
  --background-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

/* COMPONENTS */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* HEADER */

.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.blue-logo {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.current,
.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
/* HERO */
.hero {
  background-color: var(--background-color);
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-footer-text-color);
}

.btn-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-footer-text-color);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  cursor: pointer;
}

/* SECTION FEATURES */
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.features-item-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* SECTION TEAM */
.team {
  background-color: #f5f4fa;
}

.team-item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-color);
}

/* FOOTER */
.logo-white {
  color: var(--main-footer-text-color);
}

.footer {
  background-color: var(--background-color);
}

.address-footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list .maps {
  color: var(--main-footer-text-color);
}

/* PORTFOLIO HTML*/
.filtres-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: var(--secondary-color);
}
.filtres-btn:hover,
.filtres-btn:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.cards-title-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
